@import url(./fonts/fonts.css);

.root {
  background-color: black;
}

.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  max-width: 880px;
  max-height: 74px;
  margin: 45px auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  max-width: 142px;
  padding-bottom: 41px;
}

@media screen and (max-width: 900px) {
  .header {
    margin: 45px 50px 0;
  }
}

@media screen and (max-width: 420px) {
  .header {
    max-width: 100%;
    margin: 27px 0 0;
  }
  .header__logo {
    width: 104px;
    margin-left: 27px;
    padding-bottom: 32px;
  }
}

.profile {
  max-width: 880px;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__flex-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile__img {
  border-radius: 50%;
}

.profile__info {
  max-width: 336px;
  max-height: 73px;
  display: grid;
  grid-template-columns: 294px 24px;
  align-items: baseline;
  column-gap: 18px;
  row-gap: px;
}

.profile__edit-button {
 background: none;
 cursor: pointer;
 padding: 0;
}

.profile__edit-button-img {
  width: 24px;
}

.profile__name {
  max-width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #ffffff;
  margin: 0;
  padding-bottom: 5px;
}

.profile__status {
  max-width: 336px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}

.profile__add-button {
  background: none;
  cursor: pointer;
  padding: 0;
}

.profile__add-button_big {
  display: none;
}

@media screen and (max-width: 900px) {
  .profile {
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
  }
  .profile__add-button_small {
    width: 100px;
  }
  .profile__name {
    font-size: 33px;
    line-height: 36px;
  }
  .profile__status {
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
  }
  .profile__info {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    width: 282px;
    justify-content: center;
    margin: 42px auto 0;
  }
  .profile__flex-container {
    flex-direction: column;
    gap: 0;
  }
  .profile__info {
    grid-template-columns: auto auto;
    row-gap: 7px;
    column-gap: 10px;
    margin-top: 26px;
    padding-left: 26px;
  }
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
  .profile__edit-button-img {
    width: 18px;
  }
  .profile__status {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .profile__img {
    width: 120px;
  }
  .profile__add-button_small {
    display: none;
  }
  .profile__add-button_big {
    display: block;
    margin-top: 36px;
  }
}

.elements {

}

.elements__list {
 max-width: 880px;
 margin: 49px auto 0;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 justify-items: center;
 column-gap: 17px;
 row-gap: 20px;
 padding: 0;
 list-style-type: none;
}

.card {
 max-width: 282px;
 max-height: 361px;
}

.card__img {
 max-width: 282px;
 height: 282px;
 border-radius: 10px 10px 0 0;
 object-fit: cover;
}

.card__img-bar {
  max-width: 100%;
  height: 79px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -4px;
}

.card__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding-left: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button_active {
  display: none;
  width: 22px;
  padding-right: 19px;
}

.card__like-button_disabled {
  width: 22px;
  padding-right: 19px;
}

@media screen and (max-width: 900px) {
  .elements__list {
    max-width: 640px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .elements__list {
    max-width: 282px;
    grid-template-columns: 1fr;
    margin-top: 24px;
  }
}

.footer__copyright {
  max-width: 880px;
  margin: 67px auto 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 900px) {
  .footer__copyright {
    max-width: 610px;
  }
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    max-width: 282px;
    margin: 48px auto 36px;
  }
}


.popup {
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, .5); 
 position: fixed;
 top: 0;
 left: 0;
 display: none;
}

.popup__container {
  width: 430px;
  height: 330px;
  background-color: white;
  position: absolute;
  top: 27.5%;
  left: calc(50% - 215px);
  border-radius: 10px;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin: 34px 0 54px 36px;
}

.popup__form {
  max-width: 358px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.popup__name {
 margin-bottom: 30px;
 border: 0;
 border-bottom: 1px solid rgba(0, 0, 0, .2);
 
}

.popup__status {
margin-bottom: 48px;
border: 0;
 border-bottom: 1px solid rgba(0, 0, 0, .2);
 padding-bottom: 5px;
}

.popup__save-btn {
  background-color: black;
  color: white;
  height: 50px;
  margin-bottom: 37px;
  display: block;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.popup__close-icon {
  display: block;
  position: relative;
  width: 32px;
  bottom: 370px;
  left: 438px;
}

@media screen and (max-width: 425px) {
  .popup__container {
    width: 282px;
    height: 322px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 19.3%;
  }
  .popup__form {
    padding: 0 22px 0;
  }
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 0 76px 22px;
  }
  .popup__name {
    font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 37px;
    padding-bottom: 7px
  }
  .popup__status {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 44px;
    padding-bottom: 1px;
  }
  .popup__save-btn {
    font-weight: 400;
font-size: 14px;
line-height: 17px;
height: 46px;
  }
  .popup__close-icon {
    width: 20px;
    bottom: 369px;
    left: 262px;
  }
}